Client_WPF_1.0/Client_WPF_1.0/Connected Services/ServiceHost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://win-2008zapasowa:7071/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://win-2008zapasowa:7071/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://win-2008zapasowa:7071/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://win-2008zapasowa:7071/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsServerConnected_InputMessage">
    <wsdl:part name="parameters" element="tns:IsServerConnected" />
  </wsdl:message>
  <wsdl:message name="IService1_IsServerConnected_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsServerConnectedResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PutProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:PutProduct" />
  </wsdl:message>
  <wsdl:message name="IService1_AddEmptyProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmptyProduct" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPicture_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPicture" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListPicture_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListPicture" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListPicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListPictureResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListProductEmpty_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListProductEmpty" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListProductEmpty_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListProductEmptyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrder" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListOrders" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrder" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrder" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataList" message="tns:IService1_GetDataList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataListResponse" message="tns:IService1_GetDataList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsServerConnected">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsServerConnected" message="tns:IService1_IsServerConnected_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsServerConnectedResponse" message="tns:IService1_IsServerConnected_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PutProduct" message="tns:IService1_PutProduct_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmptyProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddEmptyProduct" message="tns:IService1_AddEmptyProduct_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddPicture" message="tns:IService1_AddPicture_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListPicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListPicture" message="tns:IService1_GetListPicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListPictureResponse" message="tns:IService1_GetListPicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListProductEmpty">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListProductEmpty" message="tns:IService1_GetListProductEmpty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListProductEmptyResponse" message="tns:IService1_GetListProductEmpty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddOrder" message="tns:IService1_AddOrder_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListOrders" message="tns:IService1_GetListOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListOrdersResponse" message="tns:IService1_GetListOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOrder" message="tns:IService1_GetOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOrderResponse" message="tns:IService1_GetOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteOrder" message="tns:IService1_DeleteOrder_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsServerConnected">
      <soap:operation soapAction="http://tempuri.org/IService1/IsServerConnected" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutProduct">
      <soap:operation soapAction="http://tempuri.org/IService1/PutProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AddEmptyProduct">
      <soap:operation soapAction="http://tempuri.org/IService1/AddEmptyProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AddPicture">
      <soap:operation soapAction="http://tempuri.org/IService1/AddPicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetListPicture">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListPicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListProductEmpty">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListProductEmpty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <soap:operation soapAction="http://tempuri.org/IService1/AddOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetListOrders">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <soap:operation soapAction="http://tempuri.org/IService1/GetOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://win-2008zapasowa:7071/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>